

/* basics */


*
{
     margin: 0;
     padding: 0;
}
html, body
{
     height: 100%;
     background-color: #bcef9b;
}
a
{
     cursor: pointer;
     outline: 0;
}
p
{
     padding-top: 13px;
     margin: 0;
}
ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.clear
{
     clear: both;
}
.not
{
     text-decoration: none;
}
.nowrap
{
     white-space: nowrap;
}
.wrap
{
     word-wrap: break-word;
}
.center
{
     text-align: center;
}
.image
{
     width: auto;
}


/* buttons, icons */


.btn-1
{
     display: inline-block;
     font: 13px/1 'Source Code Pro', monospace;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px; 
     padding: 26px 46px;
     text-decoration: none;
     text-align: center;
     background-color: rgba(246, 185, 59, 0.8);
     border-radius: 3px;
     outline: 0;
     transition: all 0.5s ease; 
     cursor: pointer;
}
.btn-1:hover
{
     background-color: rgba(246, 185, 59, 0.9);
}


/* fonts */


h2
{
	color: #111;
}
h3
{
     font: 75px/1.1 'Abril Fatface', serif;
     color: #fff;
}

.fo-1
{
     font: 12px/1.9 'Source Code Pro', monospace;
	color: #dedede;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.fo-1 a
{
     color: #dedede;
     text-decoration: none;
}
.fo-2
{
     font: 300 28px/1.7 Merriweather, serif;
	color: #333;
}
.fo-3
{
     font: 300 18px/1.7 Merriweather, serif;
	color: #333;
}
.fo-2 a
{
     color: #333;
     text-decoration: none;
}
.fo-2 a:hover
{
     border-bottom: 1px solid #333;
}
.fo-3 a
{
     color: #333;
     text-decoration: none;
     box-shadow: inset 0 0 0 white, inset 0 -5px 0 #c5f9af;
     transition: all 0.2s ease;
}
.fo-3 a:hover
{
     box-shadow: none;
}

.fa-1
{
     color: #999;
}

code
{
     font: 18px/1.3 'Source Code Pro', monospace;
     color: #111;
     background-color: #f9f9f9;
     padding: 2px;
     white-space: nowrap;
}


/* lo */


.block, .block-978, .block-790
{
     margin: 0 auto;
     max-width: 1180px;
     padding: 0 30px;
}
.block-978
{
     max-width: 978px;
}
.block-790
{
     max-width: 790px;
     background-color: #fff;
}

.head
{
     position: relative;
     background-size: cover;
     background-image: url('../img/surface.jpg');
     background-position: center;
     min-height: 670px;
}

.slab
{
     position: relative;
     background-color: #fff;
     padding: 30px 30px 30px 43px;
     margin-top: -110px;
     z-index: 70;
}


/* head, foot */


#head
{
     position: fixed;
     top: 0;
     width: 100%;
     height: 53px;
     background-color: #131313;
     z-index: 100;
}
.ban
{
     float: left;
     font: 32px/1 'Squada One', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
     padding-top: 10px;
}

.cont
{
     min-height: 100%;
     background-color: #bcef9b;
	margin-bottom: -219px;
}
.cont:after
{
     content: "";
     display: block;
}
.foot, .cont:after
{
     height: 219px; 
}
.foot
{
     padding-top: 39px;
     background-color: #131313;
}
