

/* basics */


*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html, body
{
     height: 100%;
     font-family: Arial, sans-serif;
}
a
{
     cursor: pointer;
     outline: 0;
}
p
{
     padding-top: 13px;
     margin: 0;
}
ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.clear
{
     clear: both;
}
.not
{
     text-decoration: none;
}
.nowrap
{
     white-space: nowrap;
}
.wrap
{
     word-wrap: break-word;
}
.center
{
     text-align: center;
}
.image
{
     width: auto;
}


/* buttons, icons */


.btn-1
{
     display: inline-block;
     font: 13px/1 'Source Code Pro', monospace;
	color: #fff;
	letter-spacing: 2px; 
     padding: 25px 25px;
     text-decoration: none;
     text-align: center;
     background-color: rgba(246, 185, 59, 0.8);
     border-radius: 8px;
     outline: 0;
     transition: all 0.5s ease; 
     cursor: pointer;
}
.btn-1:hover
{
     background-color: rgba(246, 185, 59, 0.9);
}

.btn-2
{
     display: inline-block;
     font: 13px/1 'Source Code Pro', monospace;
	color: #fff;
	letter-spacing: 2px; 
     padding: 15px 15px;
     text-decoration: none;
     text-align: center;
     background-color: rgba(246, 185, 59, 0.8);
     border-radius: 8px;
     outline: 0;
     transition: all 0.5s ease; 
     cursor: pointer;
     margin-bottom: 10px;
}
.btn-2:hover
{
     background-color: rgba(246, 185, 59, 0.9);
}

.btn-3
{
     display: inline-block;
     font: 13px/1 'Source Code Pro', monospace;
	color: #fff;
	letter-spacing: 2px; 
     padding:15px 15px;
     text-decoration: none;
     text-align: center;
     background-color: rgba(59, 125, 246, 0.8);
     border-radius: 8px;
     outline: 0;
     transition: all 0.5s ease; 
     cursor: pointer;
     margin-bottom: 10px;
}
.btn-3:hover
{
     background-color: rgba(59, 125, 246, 0.942);
}

.btn-4
{
     display: inline-block;
     font: 13px/1 'Source Code Pro', monospace;
	color: #fff;
	letter-spacing: 2px; 
     padding:15px 15px;
     text-decoration: none;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.8);
     border-radius: 8px;
     border-color: white;
     border-style: solid;
     border-width: 1px;
     outline: 0;
     transition: all 0.5s ease; 
     cursor: pointer;
     margin-bottom: 10px;
}
.btn-4:hover
{
     background-color: rgba(64, 64, 64, 0.942);
}

.btn-5
{
     display: inline-block;
     font: 13px/1 'Source Code Pro', monospace;
	color: #000;
	letter-spacing: 2px; 
     padding:15px 15px;
     text-decoration: none;
     text-align: center;
     background-color: rgb(255, 255, 255);
     border-radius: 8px;
     border-color: black;
     border-style: solid;
     border-width: 1px;
     outline: 0;
     transition: all 0.5s ease; 
     cursor: pointer;
     margin-bottom: 10px;
}
.btn-5:hover
{
     background-color: rgba(230, 227, 227, 0.942);
}

/* fonts */


h2
{
     font: 300 24px/1.4 Merriweather, serif;
	color: #111;
}
h3
{
     font: 32px/1.1 Merriweather, serif;
     color: #fff;
}

.fo-1
{
     font: 12px/1.9 'Source Code Pro', monospace;
	color: #dedede;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.fo-1 a
{
     color: #dedede;
     text-decoration: none;
}
.fo-2
{
     font: 300 28px/1.7 Merriweather, serif;
	color: #333;
}
.fo-3
{
     font: 300 18px/1.7 Merriweather, serif;
	color: #333;
     border: black;
     border-style: solid;
     border-width: 1px;
     border-radius: 8px;
}
.fo-4
{    margin-left: 20px;
     margin-bottom: 20px;
     margin-right: 20px;
}
.fo-5
{
     font: 300 20px/1.7 Merriweather, serif;
	color:white;
}

.fo-2 a
{
     color: #333;
     text-decoration: none;
}
.fo-2 a:hover
{
     border-bottom: 1px solid #333;
}
.fo-3 a
{
     color: #333;
     text-decoration: none;
     transition: all 0.2s ease;
}
.fo-3 a:hover
{
     box-shadow: none;
}

.fa-1
{
     color: #999;
}

code
{
     font: 18px/1.3 'Source Code Pro', monospace;
     color: #111;
     background-color: #f9f9f9;
     padding: 2px;
     white-space: nowrap;
}


/* lo */


.block, .block-978, .block-790
{
     margin: 0 auto;
     max-width: 1180px;
     padding: 0 30px;
}
.block-978
{
     max-width: 1180px;
}
.block-790
{
     max-width: 790px;
     background-color: #fff;
}

.head-disabled
.head {
     position: relative;
     background-size: cover;
     background-image: url('../img/surface.jpg');
     background-position: center;
     min-height: 400px;
}

.slab
{
     position: relative;
     background-color: #fff;
     padding: 30px 30px 30px 43px;
     margin-top: -110px;
     z-index: 70;
}


/* head, foot */


#head
{
     position: fixed;
     top: 0;
     width: 100%;
     height: 35px;
     background-color: #131313;
     z-index: 100;
}
.ban
{
     float: left;
     font: 16px/1 Merriweather, sans-serif;
	color: #fff;
	letter-spacing: 1px;
     padding-top: 10px;
}

.cont
{
     min-height: 100%;
     background-color: #fff;
	margin-bottom: -219px;
}
.cont:after
{
     content: "";
     display: block;
}
.foot, .cont:after
{
     height: 219px; 
}
.foot
{
     padding-top: 39px;
     background-color: #131313;
}
#back-to-top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: rgba(246, 185, 59, 0.8);
     color: white;
     border-radius: 8px;
     padding: 10px 20px;
     font-size: 36px;
     text-align: center;
     display: none; /* Initially hidden */
     cursor: pointer;
     z-index: 9999;
     transition: opacity 0.3s;
     transition: all 0.5s ease;
     text-decoration: none;
 }
 
 #back-to-top:hover {
     background-color: rgba(246, 185, 59, 0.9);
 }
 @media (max-width: 600px) {
     #back-to-top {
         bottom: 10px;
         right: 10px;
         font-size: 18px;
     }
 }
 .responsive-table {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 16px;
     padding: 16px;
     list-style-type: none;
     margin: 0;
 }
 .table-cell {
     background: #f1eeee;
     border: 1px solid #ddd;
     border-radius: 8px;
     text-align: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     padding: 16px;
 }
 .table-cell img {
         width: 100%;
         height: auto;
         aspect-ratio: 1 / 1;
         object-fit: cover;
         border-radius: 8px;
         border: 1px solid #ddd;
 }
 .table-cell h3 {
     margin: 12px 0 8px;
     font-size: 1em;
     color: #333;
 }
 .table-cell p {
     margin: 0;
     font-size: 0.8em;
     color: #666;
 }
 ul a {
text-decoration: none; /* Remove underline by default */
color: black; /* Optional: Set the link color */
}

ul a:hover {
text-decoration: underline; /* Add underline only on hover */
}

/* Modal styling */
.modal {
     display: none;
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
     justify-content: center;
     align-items: center;
   }

   .modal-content {
     background-color: white;
     padding: 20px;
     border-radius: 8px;
     max-width: 800px; /* Maximum width */
     width: 90%; /* Width set to 90% of the viewport */
     height: 80vh; /* Height set to 80% of the viewport height */
     display: flex;
     flex-direction: column; /* Stack the header, iframe, and footer vertically */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     overflow: hidden; /* Hide overflow to keep it contained */
   }

   .modal-header, .modal-footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   .modal-header {
     border-bottom: 1px solid #eaeaea;
     margin-bottom: 10px;
   }

   .modal-footer {
     border-top: 1px solid #eaeaea;
     margin-top: 10px;
     padding-bottom: 20px;
   }

   .modal-title {
     font-size: 18px;
   }

   .close-btn {
     background-color: transparent;
     border: none;
     font-size: 18px;
     cursor: pointer;
   }

   /* Close button styling */
   .close-btn:hover {
     color: red;
   }

   iframe {
     width: 100%;
     height: auto;
     border: none;
   }


 img {
     max-width: 100%;
     height: auto;
     margin-bottom: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .mtimage {
     max-width: 200px;
     height: auto;
     margin-top: 15px;
     margin-right: 20px;
     margin-left: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     float: right;
     border-style: solid;
     border-color: #000;
     border-width: 1px;
}

.mttext {
     text-align: justify;
     font-size: 20px;
     margin-right: 20px;
     line-height: 25px;
     background-color: white;
}

.calendar {
     width: 350px;
     border: 1px solid #ccc;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     display: block;
     margin-left: auto;
     margin-right: auto;
   }
   
   .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 10px;
   }
   
   .header button {
     background: none;
     border: none;
     font-size: 18px;
     cursor: pointer;
   }
   
   #monthYear {
     font-size: 20px;
     font-weight: bold;
   }
   
   .weekdays {
     display: flex;
     justify-content: space-between;
     font-weight: bold;
     margin-bottom: 10px;
   }
   
   .days {
     display: flex;
     flex-wrap: wrap;
   }
   
   .days div {
     width: 14.28%;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 10%;
     transition: background-color 0.3s, border-color 0.3s;
   }
   
   .days div:hover {
     background-color: #f0f0f0;
     border-radius: 10%;
   }
   
   .current-day {
     background-color: rgba(246, 185, 59, 0.8);
     border-radius: 10%;
   }
   
   .prev-next-month {
     color: #ccc;
     pointer-events: none;
   }
 